// Mixins for easy styling and more (maybe, idk)
@import "./variables";

@mixin primary-button($active: false) {
	background-color: $black-700;
	font: $main-600;
	color: $white-900;
	border: none;
	outline: none;
	border-radius: $border-500;
	text-align: center;
	padding: $primary-padding;

	@if $active == true {
		background-color: $blue-900;
		color: $white-900;
	}
}

@mixin secondary-button($active: false) {
	background-color: $black-500;
	font: $main-600;
	color: $white-900;
	border: none;
	outline: none;
	border-radius: $border-300;
	text-align: center;
	padding: $secondary-padding;

	@if $active == true {
		background-color: $blue-900;
		color: $white-900;
	}
}

@mixin tertiary-button($active: false) {
	background-color: $blue-900;
	font: $main-600;
	color: $white-900;
	border: none;
	outline: none;
	border-radius: $border-300;
	text-align: center;
	padding: $tertiary-padding;

	@if $active == true {
		background-color: $blue-900;
		color: $white-900;
	}
}

@mixin complimentary-button {
	background-color: $black-500;
	font: $main-600;
	color: $white-900;
	border: none;
	outline: none;
	border-radius: $border-500;
	text-align: center;
	padding: $complimentary-padding;
}

@mixin button-styles($buttonType, $active: false) {
	@if $buttonType == "Primary" {
		@include primary-button($active);
	} @else if $buttonType == "Secondary" {
		@include secondary-button($active);
	} @else if $buttonType == "Tertiary" {
		@include tertiary-button($active);
	} @else if $buttonType == "Complimentary" {
		@include complimentary-button;
	} @else {
		@warn 'Please select a valid Button Type';
	}
}

@mixin layout-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin image-basics {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}