@import '/src/styles/mixins';

.navbarTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1.5rem 1.5rem 1.5rem;

  &__right {
    display: flex;
    align-items: center;
    
    .iconBox {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0;
      }
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
