@import '../../styles/mixins';

.searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 11.25rem;
  overflow: hidden;
  background-color: $black-500;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  border-radius: $border-300;
  margin-right: 1.5rem;

  .searchIcon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
  }

  form {
    input {
      width: 100%;
      border: none;
      background-color: $black-500;
      font: $main-600;
      color: $white-900;
      outline: none;
      transform: translateY(-12%);
    }
  }
}